(common_headers) {
  encode gzip
  tls howie6879@gmail.com
}

docs.python-ruia.org {
    import common_headers
    root * ../ruia
     file_server {
        hide .git
    }
}

python-ruia.org {
    import common_headers
    root * ../ruia
     file_server {
        hide .git
    }
}

www.python-ruia.org {
    import common_headers
    root * ../ruia
     file_server {
        hide .git
    }
}