[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
pytest = "*"

[packages]
aiohttp = ">=3.3.2"
cssselect = "*"
lxml = "*"
pyppeteer = "*"

[requires]
python_version = "3.6"
