[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple/"

[dev-packages]
pytest = "*"

[packages]
aiofiles = "*"
aiohttp =  ">=3.3.2"
cchardet = "*"
cssselect = "*"
lxml = "*"

[requires]
python_version = "3.6"
